<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>BELC Library</title>
   <link rel="shortcut icon" type="image/x-icon" href="../static/css/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/style2.css" type="text/css">
  </head>
<body>
<div id="login" class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="login well well-small">
                        <div class="center">
<h1>BELC Library Dashboard Login</h1>
</div>
                        <form action="/login" style="" class="login-form" id="UserLoginForm" method="POST">
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
    <div class="control-group">
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
</div>
</div>
</form>
      <footer class="footer">
        <p>&copy; BELC Library 2019</p>
      </footer>
   </div><!--/.login-->
    </div><!--/.span12-->
  </div><!--/.row-fluid-->
</div><!--/.container-->
  </body>
</html>